.FormFlot{
  width: 60%;
  margin: 30px auto;
  background: #ededed;
  padding: 1rem;
  max-width: 400px;
  border-radius: 10px;
}
.Loginbuttom{
  width: 100%;
  background-color: #000 !important;
  border: none !important;
}